
.about
{
    position: top;
    min-height: 100vh;
    padding: 20px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: wheat;
    background-size: cover;

}
.about .content
{
    
     font-family: optima; padding-right: 15px;padding-left: 15px;
}
.about .content h2
{
    font-size:36px;
    font-weight: 500;
    color: #000000;   
}
.about .content p
{
    text-align: left;
    font-weight: 300;
    color: #000000;   
}